.ml-footer {
  width: 100%;
  background-color: #1c2b22;
  display: flex;
  flex-direction: column;
}

.footer-info {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

.footer-icons {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-icons > i {
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.3s;
  border-radius: 5px;
}

.footer-icons > i:hover {
  background-color: white;
  color: #1c2b22;
}

.footer-bottom {
  background-color: #3adc92;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-top: 30px;
  box-sizing: border-box;
}

.footer-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.footer-links > li {
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.3s;
  border-radius: 5px;
}

.footer-links > li:hover {
  background-color: white;
  color: #1c2b22;
}
